cycler==0.10.0
decorator==4.4.0
kiwisolver==1.0.1
matplotlib==3.0.3
networkx==2.2
numpy==1.16.2
pandas==0.24.2
pkg-resources==0.0.0
pyparsing==2.3.1
python-dateutil==2.8.0
python-louvain==0.13
pytz==2018.9
six==1.12.0
xlrd==1.2.0
