<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Ethnographie - Index</title>
	<meta name="description" content="Ethnographie de la culture geek à Epitech">
	<meta name="author" content="Epitech x EMLyon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="../../static/base/stylesheet.css?v=1.0">
</head>

<body>
	<ul id="dropdown-quali-md" class="dropdown-content">
		<li><a class="red-text text-lighten-1" href="#!">one</a></li>
		<li><a class="red-text text-lighten-1" href="#!">two</a></li>
		<li><a class="red-text text-lighten-1" href="#!">three</a></li>
		<li class="divider red lighten-1"></li>
		<li><a class="red-text text-lighten-1" href="#!">viva l'algérie</a></li>
	</ul>
	<ul id="dropdown-quanti-md" class="dropdown-content">
		<li><a class="red-text text-lighten-1" href="#!">one</a></li>
		<li><a class="red-text text-lighten-1" href="#!">two</a></li>
		<li><a class="red-text text-lighten-1" href="#!">three</a></li>
		<li class="divider red lighten-1"></li>
		<li><a class="red-text text-lighten-1" href="#!">viva l'algérie</a></li>
	</ul>
	<ul id="dropdown-quali-sm" class="dropdown-content">
			<li><a class="red-text text-lighten-1" href="#!">one</a></li>
			<li><a class="red-text text-lighten-1" href="#!">two</a></li>
			<li><a class="red-text text-lighten-1" href="#!">three</a></li>
			<li class="divider red lighten-1"></li>
			<li><a class="red-text text-lighten-1" href="#!">viva l'algérie</a></li>
		</ul>
		<ul id="dropdown-quanti-sm" class="dropdown-content">
			<li><a class="red-text text-lighten-1" href="#!">one</a></li>
			<li><a class="red-text text-lighten-1" href="#!">two</a></li>
			<li><a class="red-text text-lighten-1" href="#!">three</a></li>
			<li class="divider red lighten-1"></li>
			<li><a class="red-text text-lighten-1" href="#!">viva l'algérie</a></li>
		</ul>
	<nav class="red lighten-1" role="navigation">
		<div class="nav-wrapper container">
			<a href="#" id="logo-container" class="brand-logo">
				<img id="logo" src="../../static/base/logo.png" width="50" height="50" class="brand-logo">
				<span id="logo-title">Ethnographie du milieu geek</span>
			</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#">Accueil</a></li>
				<li><a class="dropdown-trigger" data-target="dropdown-quali-md" href="#">Étude qualitative<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-trigger" data-target="dropdown-quanti-md" href="#">Étude quantitative<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a href="#">Conclusion</a></li>
			</ul>

			<ul id="nav-mobile" class="sidenav">
				<li><a class="red-text text-lighten-1" href="#">Accueil</a></li>
				<li><a class="dropdown-trigger red-text text-lighten-1" data-target="dropdown-quali-sm" href="#">Étude qualitative<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-trigger red-text text-lighten-1" data-target="dropdown-quanti-sm" href="#">Étude quantitative<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="red-text text-lighten-1" href="#">Conclusion</a></li>
			</ul>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		</div>
	</nav>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<br><br>
			<h1 class="header center red-text text-lighten-1">Ethnographie du milieu geek</h1>
			<div class="row center">
				<h5 class="header col s12 light">Étude ethnographique du milieu geek à Epitech, réalisé par un groupe d'élèves de l'EM Lyon et de l'Epitech</h5>
			</div>
			<div class="row center">
				<a href="#" class="btn-large waves-effect waves-light red lighten-1">Consulter l'étude</a>
			</div>
			<br><br>

		</div>
	</div>

	<div class="container">
		<div class="section">

			<!--   Icon Section   -->
			<div class="row">
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center red-text text-lighten-1"><i class="material-icons">people</i></h2>
						<h5 class="center">Étude qualitative</h5>

						<p class="light">blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center red-text text-lighten-1"><i class="material-icons">pie_chart</i></h2>
						<h5 class="center">Étude quantitative</h5>

						<p class="light">blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center red-text text-lighten-1"><i class="material-icons">assignment_turned_in</i></h2>
						<h5 class="center">Conclusion</h5>

						<p class="light">blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla</p>
					</div>
				</div>
			</div>

		</div>
		<br><br>
	</div>

	<footer class="page-footer grey darken-1">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
				<h5 class="white-text">Qui sommes-nous ?</h5>
					<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Liens</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Liens</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Made by <a class="orange-text text-lighten-3" href="http://em-lyon.com">EM Lyon</a> and <a class="orange-text text-lighten-3" href="http://www.epitech.eu">Epitech</a> students.
			</div>
		</div>
	</footer>

	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="../../static/base/script.js"></script>
</body>

</html>